.footer-main {
    background: $black;
    position: relative;
    min-height: 300px;

    h3 {
        display: inline-block;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }
    nav {
        float: right;
        
        li {
            display: inline-block;
            margin-right: 15px;
            padding-right: 15px;
            border-right: solid thin $light_gray;

            &:last-child {
                border: none;
            }
        }
        a {
            @include font_title;
            color: $light_gray;
            display: block;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 18px;
        }
    }
    span {
        @include font_callout;
        color: $white;
        display: block;
        font-size: 14px;
        text-align: center;
    }
    .social-links {
        li {
            display: inline-block;
            margin-right: 10px;
        }
        a {
            font-size: 20px;
            color: $medium-gray;
        }
    }
    @media screen and (max-width: 799px) {
        nav {
            float: none;
            text-align: center;
            ul {
                padding-left: 0;
            }
            li {
                margin-right: 4px;
                padding-left: 8px;
            }
        }

        h3 {
            display: block;
            text-align: center;
        }

        .social-links {
            display: block;
            text-align: center;
        }
    }
}


@media screen and (min-width: 640px) and (max-width: 667px) {
    .footer-main {
        .medium-6:first-of-type {
            width: 40%;
        }
        .medium-6:last-of-type {
            width: 60%;
        }
    }
}
@media screen and (max-width: 639px) {
    .footer-main {
        nav {
            margin-top: 70px;
        }
        .medium-6 {
            padding: 0;
        }
    }
}
        