.video-top,
.video-top-home,
.video-404 {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -2;
    top: 0;
    opacity: 0.3;
    filter: grayscale(100%);

    &.hidden {
        opacity: 0;
    }
}
.video-top-home {
    @include transition(opacity 0.5s);
    opacity: 0.3;
    transform: scaleX(-1);
}
.video-404 {
    @include transition(opacity 3s);
    opacity: 0.4;
}
.video-top {
    @include transition(opacity 3s);
    opacity: 0.4;
}
.video-overlay {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    @include transition(all 1s);
    &.hidden {
        @include transition(all 5s);
        opacity: 0;
    }
}