.btn-box {
    display: inline-block;

    .button:nth-child(1) {
        width: 55%;
    }
    .button:nth-child(2) {
        float: right;
        width: 40%;
    }
    @media screen and (max-width: 799px) {
        display: block;

        .button,
        .button:nth-child(1),
        .button:nth-child(2) {
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;
        }

        .button {
            margin-bottom: 50px;
        }
    }
}