
body {
    background: #000 url('/assets/img/bg-body.png');
    background-size: 160.08px 320.16px;
    
    &:before {
        content: '';
        width: 100%;
        height: 700px;
        background-image: url(/assets/img/bg-stage-lighting.png);
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        z-index: 0;
        background-size: cover;
        opacity: 0.9;
    }
}
p, strong, b, h1 {
    color: #FFF;
}
.row {
    max-width: none;
}
.row-shorter {
    max-width: $max_width_row_shorter;
}
.page-wrap {
    min-height: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: -1px;
    position: relative;

    @media screen and (max-width: 799px) {
        margin-top: 70px;
    }
}

@media screen and (max-width: 799px) {
    .columns {
        padding-left: 1.625rem;
        padding-right: 1.625rem;
    }
}
.overlay-transition {
    content: '';
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10000;
    opacity: 0;
    background-color: $black;
    @include transition(opacity, 1s);
    
    &.trans-active {
        opacity: 1;
        @include transition(opacity, 1s);
    }
}


// .transition-wrapper {}

// .transition-item {

//   @include transition(opacity, 0.5s);
//   -webkit-transform: translate3d(0, 0, 0);
//   -webkit-backface-visibility: hidden;
//   -webkit-perspective: 1000;

//   &.transition-appear {
//     opacity: 0;
//   }

//   &.transition-appear.transition-appear-active {
//     opacity: 1;
//   }
//   &.transition-leave {
//     opacity: 1;
//   }

//   &.transition-leave.transition-leave-active {
//     opacity: 0;
//   }
// }

.trans-top {
    position: relative;
    width: 100%;
    height: 0;
    z-index: 10000;
    top: 0;
    left: 0;
   -webkit-transform: translateZ(0);
   
     &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('/assets/img/spinner.gif');
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        mix-blend-mode: multiply;
    }
    &.present {
        -webkit-transform: translateZ(0);
    }
}
.trans-above {
    .trans-top {
        background-color: $yellow;
        @include transition(height, 0.5s);
        &.present {
            height: 1000px;
            @include transition(height, 0.5s);
        }
    }
}

.trans-above-dark {
    .trans-top {
        background-color: $medium_gray;
        @include transition(height, 0.5s);
        &.present {
            height: 1000px;
            @include transition(height, 0.5s);
        }
    }
}
.trans-above-blue {
    .trans-top {
        background-color: $blue;
        @include transition(height, 0.5s);
        &.present {
            height: 1000px;
            @include transition(height, 0.5s);
        }
    }
}
.trans-left-blue {
    .trans-top {
        background-color: $blue;
        width: 0;
        position: fixed;
        height: 100%;
        @include transition(width, 0.5s);
        &.present {
            width: 100%;
            @include transition(width, 0.5s);
        }
    }
}