body {
    background: #000 url('/assets/img/bg-body.gif');
    background-size: 160.08px 320.16px;
    
    &:before {
        content: '';
        width: 100%;
        height: 700px;
        background-image: url(/assets/img/bg-stage-lighting.png);
        background-repeat: no-repeat;
        background-position: top center;
        position: absolute;
        z-index: -1;
        background-size: cover;
        opacity: 0.9;
    }
}
p, strong, b, h1 {
    color: #FFF;
}
.row {
    max-width: $max_width_row;
}
.row-shorter {
    max-width: $max_width_row_shorter;
}
.page-wrap {
    min-height: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: -1px;
    position: relative;

    @media screen and (max-width: 799px) {
        margin-top: 150px;
    }
}

@media screen and (max-width: 799px) {
    .columns {
        padding-left: 1.625rem;
        padding-right: 1.625rem;
    }
}