.ut-bg-black {
    b, h1, h2, h3, h4, h5, h6 {
        color: #FFF;
    }
}
.ut-unlist {
    margin-left: 0;
    padding-left: 0;
    
    li, ol {
        list-style: none;
    }
}

.ut-shake-element {
    position: relative;
    transform: rotate(0deg);
}
.ut-more-mobile-centered-width {
    float: none;
    margin: auto;
    width: 85%;
}
.ut-stage-lighting {
    background-image: url(/assets/img/bg-stage-lighting.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.ut-slash {
    background-image: url(/img/slash.png);
    background-size: 27% 12%;
    background-repeat: no-repeat;
    height: 100%;
    left: 10%;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;

    &.show {
        opacity: 0.7;
    }
}
// waypoints sticky
.stuck {
  position: fixed;
  top: 0;
  z-index: 2;
}